h2 {
    width: 50px;
    margin: 0;
    padding: 0;

    color: #FFF;

    font-weight: lighter;
    line-height: 25px;
    letter-spacing: 2px;
}

.sidenav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 span {
    font-weight: bold;
}

.nav-bar {
    padding: 15px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #330C2F;
}

#home-icon {
    margin-right: 10px;
}

.nav-bar .bb-button#home-button {
    margin-right: 35px;
}

button div.button-label-wrap {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}