<mat-drawer-container opened class="sidenav">
    <mat-drawer [opened]="isOpen">
        <div class="sidenav-style">
            <div class="profile-image">
                <img src="/assets/profile.jfif" alt="">
            </div>  
        </div>

        <div class="sidenav-divs">
            <mat-nav-list>
                <div class="username">
                    <b>Ernesto Roja</b>
                </div>
                <a mat-list-item>Settings</a>
                <a mat-list-item>Logout</a>
            </mat-nav-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="watched-section">
            <app-watched (openAddPopup)="toggleAddPopupStatus($event)" [addPopupStatus]="isAddPopupOpen"></app-watched>
            <app-add-popup [isOpen]="isAddPopupOpen" (isClosed)="toggleAddPopupStatus($event)"></app-add-popup>
        </div>
        <div class="posts-section">
            <app-posts></app-posts>
        </div>
    </mat-drawer-content>
</mat-drawer-container>