<mat-sidenav-container *ngIf="isOpen">
    <mat-sidenav opened mode="side">
        <div class="sidenav-style">
            <div class="profile-image">
                <img src="/assets/profile.jfif" alt="">
            </div>  
        </div>

        <div class="sidenav-divs">
            <mat-nav-list>
                <div class="username">
                    <b>Ernesto Roja</b>
                </div>
                <a mat-list-item>Settings</a>
                <a mat-list-item>Logout</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 91.7vh;"></div>
        <div class="watched-section">
            <app-watched></app-watched>
        </div>
        <div class="posts-section">
            <app-posts></app-posts>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>