<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <ul>
        <li>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" formControlName="title">

        <li>
            <label for="actor">Actor:</label>
            <input type="text" name="actor" id="actor" formControlName="actor">
        </li>
        <li>
            <label for="genre">Genre:</label>
            <select name="genre" id="genre" formControlName="genre">
                <option value="Action">Action</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Drama">Drama</option>
                <option value="Horror">Horror</option>
                <option value="Romance">Romance</option>
                <option value="Comedy">Comedy</option>
            </select>
        </li>
        <li>
            <label for="rating">Rating:</label>
            <input type="number" name="rating" id="rating" formControlName="rating">
        </li>
        <li>
            <label for="runtime">Runtime:</label>
            <input type="number" id="runtime" formControlName="runtime">
        </li>
    </ul>
    <button type="sumbit" [disabled]="!form.valid">Submit</button>
</form>