* {
    font-family: 'Montserrat', sans-serif;
}

#generator-icon {
    width: 35px;
    margin-right: 0.7vw;
}

#generator-title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    margin: 2vh 0;
    font-size: 25px;
}

h2 span {
    font-weight: 200;
}

#generator-box {
    margin: 8vh 0;
    position: absolute;
    left: 20vw;


    padding: 2vh 3vw;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FBFEF9;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mat-form {
    width: 100%;
    background-color: #FBFEF9;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
} 