@import url("../../../node_modules/primeicons/primeicons.css");

* {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 355px;
    height: 500px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.25);
    margin: 35px 25px 25px 10px;
}

#generator-icon {
    width: 35px;
    margin-right: 0.7vw;
}

#generator-title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    margin: 2vh 0;
    font-size: 25px;
}

h2 span {
    font-weight: 200;
}

#generator-box {
    margin: 7vh 0;
    position: absolute;
    left: 20vw;


    padding: 2vh 3vw;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FBFEF9;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mat-form {
    width: 100%;
    background-color: #FBFEF9;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0;
} 

#rating-input {
    margin-bottom: 20px;
}

#rating-label {
    margin-bottom: 15px;
}

::ng-deep .p-rating .p-rating-icon.pi-star-fill {
    color: #330C2F;
}

::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #964c8f;
}

#d-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#d-content #movie-data {
    display: flex;
}

#d-content #movie-title {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
}

#d-content #subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#d-content #subtitle #year {
    margin: 0 0 0 10px;
}

#d-content #movie-overview {
    margin-right: 10px;
}

#movie-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#movie-posts h4 {
    font-size: 20px;
}

span.p-float-label{
    margin: 10px 0 15px 0;
}

span.p-float-label, span.p-float-label input, span.p-float-label textarea {
    width: 100%;
}

#add-post-input {
    background-color: rgb(235, 217, 179);
    padding: 10px 15px;
    border-radius: 12px;
}

div#post-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

div#post-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

div#post-header-main {
    display: flex;
    flex-direction: column;
}

div#post-header-main #title {
    font-weight: 700;
    font-size: 18px;
}

div#post-header-main p {
    margin: 5px 0;
}

p#post-date {
    font-size: 15px;
}

::ng-deep #p-g-post.p-element.p-g-button.p-button.p-component {
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(237, 142, 10);
    border: 0;
}

::ng-deep .p-element.p-g-button.p-button.p-component {
    background-color: rgb(225, 82, 65);
    border-width: 0;
    margin-left: 10px;
}

::ng-deep .p-element.p-g-button-add.p-button.p-component {
    background-color: rgb(232, 150, 18);
    border-width: 0;
    margin-left: 10px;
}

::ng-deep .p-element.p-g-button-watched.p-button.p-component {
    background-color: rgb(237, 142, 10);
    border-width: 0;
    margin-left: 10px;
    width: 238.39px;
}

::ng-deep.rating.ng-star-inserted {
    margin: 0 0;
}

::ng-deep .pi.pi-star-fill, .pi.pi-star {
    color: rgb(242, 170, 75);
    font-size: 1.5rem;
}

::ng-deep #add-post.p-element.p-g-button-add.p-button.p-component {
    padding: 5px 10px;
    height: 40px;
}

::ng-deep .p-virtualscroller-item.ng-star-inserted {
    background-color: #4f214a;
    color: white;
    border-radius: 20px;
    margin: 15px 25px;
    padding: 5px 20px;
}