.posts-container {
    background-color: lightgrey;
  border-radius: 10px;
  width: 90%; 
  height: 20%; 
  padding: 1%;

  position: absolute;
  top: 70%;
  right: 5%;
  bottom: 0;
  left: 20%;
  margin-left: -15.5%;
}