.posts-container {
  background-color: lightgrey;
  border-radius: 10px;
  width: 40%;
  height: 90%;
  padding: 1%;

  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 0;
  left: 72%;
  margin-left: -15.5%;
  margin-top: 50px;

  overflow: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: row;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 60px;
}

.title {
  position: absolute;
  top: 0;
  z-index: 1;
}

.add-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.post-item {
  background-color: #333333;
  color: white;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}