@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    width: 50px;
    margin: 0;
    padding: 0;

    color: #FFF;

    font-weight: lighter;
    line-height: 25px;
    letter-spacing: 2px;
}

h2 span {
    font-weight: bold;
}

p {
    display: inline;
    color: #FFF;
    font-size: 18px;
    margin-right: 45px;
}

p span {
    font-weight: 600;
}

.nav-bar {
    padding: 15px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #330C2F;
}

#movie-icon, #login-icon {
    margin-right: 10px;
}

.nav-bar .bb-button#movies-button {
    margin-right: 35px;
}

button div.button-label-wrap {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}