.watched-container {
  background-color: lightgrey;
  border-radius: 10px;
  width: 1200px;
  height: 350px;
  padding: 20px;

  position: absolute;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 20%;
  margin-left: -200px;

  overflow: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 60px;
}

.title {
  position: absolute;
  top: 0;
  z-index: 1;
}

.add-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}