<div [ngClass]="{'modal-bg': true, 'closed': isLoginOpen === false}">
  <div [ngClass]="{'container': true, 'closed': isLoginOpen=== false}" id="container">
    <button
      (click)="closeLogin()"
      id="closeButton"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="form-container sign-up-container">
      <form [formGroup]="formSignUp" (ngSubmit)="onSubmit(formSignUp.value)" action="#">
        <h1>Create Account</h1>
        <input type="text" placeholder="Name" formControlName="username" required/>
        <!-- <input type="email" placeholder="Email" /> -->
        <input type="password" placeholder="Password" formControlName="password" required/>
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="formSignIn" (ngSubmit)="loginUser(formSignIn.value)" action="#">
        <h2><span id="welcome">Welcome to </span> <br> <span id="binge">Binge </span><span id="buddy">Buddy</span></h2>
        <input type="email" placeholder="Email" formControlName="username"/>
        <input type="password" placeholder="Password" formControlName="password"/>
        <!-- <a href="#">Forgot your password?</a> -->
        <button id="signin" type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>New User?</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>  
</div>
<lib-ng-toast></lib-ng-toast>
