<app-nav-bar></app-nav-bar>
<bb-login-register></bb-login-register>
<bb-movie-generator></bb-movie-generator>
<!-- <h2>{{message + username}}</h2> -->
<main>
    <div id="bg">
        <img src="../../assets/bg_image.jpeg" alt="Background Image">
    </div>
    <p-carousel [value]="movieList" [numVisible]="4" [numScroll]="1" [autoplayInterval]="10000" [circular]="true">
        <p-header id="carousel-header">
            <i class="pi pi-video" style="font-size: 2.5em;"></i>
            <h3><span>Elite</span> Recommendations</h3>
        </p-header>
        <ng-template let-movie pTemplate="item">
            <div class="movie-card">
                <div class="poster">
                    <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Movie Poster">
                </div>
                <div class="movie-details">
                    <p id="movie-title">
                        {{movie.title}}
                    </p>
                    <p class="rating" *ngIf="movie.vote_average >= 8">
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                    </p>
                    <p class="rating" *ngIf="movie.vote_average < 8 && movie.vote_average >= 6">
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star"></i>
                    </p>
                    <p class="rating" *ngIf="movie.vote_average < 6 && movie.vote_average >= 4">
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                    </p>
                    <p class="rating" *ngIf="movie.vote_average < 4 && movie.vote_average >= 2">
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                    </p>
                    <p class="rating" *ngIf="movie.vote_average < 2 && movie.vote_average >= 0">
                        <i class="pi pi-star-fill"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                        <i class="pi pi-star"></i>
                    </p>
                    <p-button icon="pi pi-info-circle" label="Learn more"></p-button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <footer>
        @ BingeBuddy 2023
    </footer>
</main>
