@import url("../../../node_modules/primeicons/primeicons.css");

* {
    font-family: 'Montserrat', sans-serif;
}

#bg {
    width: 100%;
}

#bg img {
    width: 100%;
}

#carousel-header {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 10rem;
}

#carousel-header h3 {
    font-size: 30px;
    margin-left: 20px;
}

#carousel-header h3 span {
    font-weight: 400;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: bisque;
    padding: 35px 0;
    width: 325px;

    border-radius: 30px;
}

.poster img {
    width: 250px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.movie-details {
    text-align: center;
    width: 250px;
}

.movie-details #movie-title {
    font-size: 20px;
    font-weight: 700;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev, ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  background-color: #e25548;
  color: white;
  width: 3rem;
  height: 3rem;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover, ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover{
    background-color: #d7786f;
    color: black;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #d7786f;
}

::ng-deep .p-carousel .p-carousel-indicators {
    margin-top: 20px;
}

::ng-deep .pi.pi-star-fill, .pi.pi-star {
    color: rgb(242, 170, 75);
    font-size: 1.5rem;
}

::ng-deep.p-ripple.p-element.p-button.p-component {
    background-color: #e25548;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    border: 0;
}

footer {
    display: flex;
    justify-content: end;

    padding: 3rem 4.5rem;
    background-color: #330C2F;
    color: white;
}

